<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
th:fragment="page">

<head>
    <meta charset="UTF-8">
    <title>TO BE REPLACED</title>
    <link rel="stylesheet" type="text/css" href="header.css" th:href="@{/styles/header.css}"/>
    <link rel="stylesheet" type="text/css" href="burger.css" th:href="@{/styles/burger.css}"/>
    <link rel="stylesheet" type="text/css" href="actor.css" th:href="@{/styles/model.css}"/>
    <script src="burger.js" type="text/javascript" th:src="@{/scripts/burger.js}" defer></script>

</head>
<body style="width: 100vw">

<div class="header">
    <div class="log-in-out">
        <ul class="log-in-out-list">
            <li class="log-in-out-item">
                <span style="width: 130px; position: relative; color: darkred" sec:authorize="isAuthenticated()"
                      th:text="'To options: ' + ${#authentication?.principal?.username}">User</span>
            </li>
            <li sec:authorize="!isAuthenticated()" class="log-in-out-item">
                <input class="log-in-out-button" type="button" value="Login"
                       onclick="window.location.href='/login'">
            </li>
            <li class="log-in-out-item"><input class="log-in-out-button" type="button" value="Logout"
                                               onclick="window.location.href='/logout'"></li>
            <li sec:authorize="!isAuthenticated()" class="log-in-out-item"><input class="log-in-out-button" type="button" value="Register"
                                               onclick="window.location.href='/add'"></li>
        </ul>
    </div>
    <a class="page-title">PROJECT ORC</a>
</div>

<button class="hamburger">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>
<div class="navigation">
    <ul class="navigation-list">
        <li class="navigation-item">
            <input class="menu-button" type="button" value="Home">
        </li>
        <li class="navigation-item">
            <input class="menu-button" type="button" value="Screen">
        </li>
        <li class="navigation-item">
            <input class="menu-button" type="button" value="Scenarios">
        </li>
        <li class="navigation-item">
            <input class="menu-button" type="button" value="Characters" onclick="window.location.href='/character'">
        </li>
        <li class="navigation-item">
            <input class="menu-button" type="button" value="Monsters">
        </li>
        <li class="navigation-item">
            <input class="menu-button" type="button" value="Maps">
        </li>
    </ul>
</div>

<div class="main-content" th:replace="this :: content">CONTENT GOES HERE</div>

<footer>FOOTER</footer>
</body>
</html>