<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project ORC - Login</title>
    <link rel="stylesheet" href="newUser.css" th:href="@{css/newUser.css}"/>
</head>
<body>

<h1>Login</h1>

<form method="POST" th:object="${loginModel}">
    <!--			dodawanie obiektu/beana-->
    <div class="newUserBox">
        <div class="fieldTitle">Login to ORC</div>
        <div class="loginSection">
            <input id="username" type="text" placeholder="Username" name="username" required th:field="*{username}">
            <div th:errors="*{username}" style="color: red">Error message</div>
            <input id="password" type="password" placeholder="Password" name="password" required th:field="*{password}">
            <div th:errors="*{password}" style="color: red">Error message</div>
        </div>
        <input type="submit" value="Login" class="button">
    </div>
</form>

</body>
</html>